<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebClient</title>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Account/Wallet.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/WebClient.styles.css" asp-append-version="true" />*@
</head>
<body>
    <div id="root">
        <div class="app">
            <header>
                <div>
                    <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
                        <div class="container-fluid">
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Trade&Deal Hub</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                                <ul class="navbar-nav flex-grow-1">
                                    @if (ViewBag.accountId == null)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item nav-dropdown">
                                            <a class="nav-link nav-dropdown-toggle" style="padding-bottom: 6px;" href="#">
                                                <i class="navbar-toggler-icon fa fa-credit-card"></i>
                                                Quản lý thanh toán
                                                <i class="fa-solid fa-chevron-down"></i>
                                            </a>
                                            <ul class="nav-dropdown-item">
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Wallet"><i class="fa-solid fa-wallet"></i> Ví của tôi</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="CreateDeposit"><i class="nav-icon fa fa-cc-visa"></i> Nạp Tiền</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="TransactionHistory"><i class="nav-icon fa fa-exchange"></i> Lịch sử giao dịch</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="CreateWithdrawal"><i class="nav-icon fa fa-send-o"></i> Yêu Cầu Rút Tiền</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item nav-dropdown">
                                            <a class="nav-link nav-dropdown-toggle" href="#">
                                                <i class="fa-solid fa-cart-shopping"></i>
                                                Mua Hàng
                                                <i class="fa-solid fa-chevron-down"></i>
                                            </a>
                                            <ul class="nav-dropdown-item">
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Product" asp-action="Index"><i class="fa-brands fa-product-hunt"></i> Sản Phẩm</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Product" asp-action="Index"><i class="nav-icon fa fa-list"></i> Đơn Hàng</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item nav-dropdown">
                                            <a class="nav-link nav-dropdown-toggle" href="#">
                                                <i class="nav-icon fa fa-handshake-o"></i>
                                                Trung Gian
                                                <i class="fa-solid fa-chevron-down"></i>
                                            </a>
                                            <ul class="nav-dropdown-item">
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="WalletUser"><i class="fa-solid fa-shop"></i> Chợ Công Khai</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Wallet"><i class="fa-solid fa-bag-shopping"></i> Đơn bán của tôi</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Wallet"><i class="nav-icon fa fa-shopping-cart"></i> Đơn mua của tôi </a>
                                                </li>
                                            </ul>
                                        </li>
                                    }

                                </ul>

                                <ul class="navbar-nav ml-auto">
                                    <!-- Added ml-auto class here -->
                                    @if (ViewBag.accountId == null)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Register">Register</a>
                                        </li>
                                    }
                                    else
                                    {

                                        <li class="dropdown nav-item"><a aria-haspopup="true" href="#" class="nav-link" aria-expanded="false"><i class="fa-regular fa-bell" style="color:black;"></i></a></li>
                                        <li class="nav-item">
                                            <div class="dropdown">
                                                <button class="dropbtn">
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Profile">@AccountDAO.GetAccountWithId(ViewBag.accountId).name</a>
                                                </button>
                                                <div class="dropdown-content">
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Profile">Profile</a>
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Wallet">Wallet</a>
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LogOut">LogOut</a>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>

            <div class="container-fluid">
                @RenderBody()
            </div>

            <footer class="border-top footer text-muted">
                <div class="container">
                    &copy; 2024 - Trade&Deal Hub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>

        </div>
    </div>
@*     <script>
        $(document).ready(function () {
            // Toggle dropdown menu on click
            $('.nav-dropdown').click(function () {
                console.log("Click Click");
                $(this).find('.nav-dropdown-item').slideToggle();
                $(this).toggleClass('active'); // Toggle "active" class for visual indication

                // Toggle arrow direction
                if ($(this).hasClass('active')) {
                    $(this).find('.fa-chevron-down').addClass('fa-rotate-90');
                } else {
                    $(this).find('.fa-chevron-down').removeClass('fa-rotate-90');
                }
            });
        });
        $(document).ready(function () {
            // Hide sidebar on page load
            $('.sidebar').addClass('show-sidebar');

            // Show sidebar on button click
            $('.show-sidebar-button').click(function () {
                console.log("Click Click");
                $('.sidebar').toggleClass('show-sidebar');
            });
        });
    </script> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://kit.fontawesome.com/6ae4d71e22.js" crossorigin="anonymous"></script>

</body>
</html>

                <!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebClient</title>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Account/Wallet.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/WebClient.styles.css" asp-append-version="true" />*@
</head>
<body>
    <div id="root">
        <div class="app">
            <header>
                <div>
                    <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
                        <div class="container-fluid">
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Trade&Deal Hub</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                                <ul class="navbar-nav flex-grow-1">
                                    @if (ViewBag.accountId == null)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item nav-dropdown">
                                            <a class="nav-link nav-dropdown-toggle" style="padding-bottom: 6px;" href="#">
                                                <i class="navbar-toggler-icon fa fa-credit-card"></i>
                                                Quản lý thanh toán
                                                <i class="fa-solid fa-chevron-down"></i>
                                            </a>
                                            <ul class="nav-dropdown-item">
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Wallet"><i class="fa-solid fa-wallet"></i> Ví của tôi</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="CreateDeposit"><i class="nav-icon fa fa-cc-visa"></i> Nạp Tiền</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="TransactionHistory"><i class="nav-icon fa fa-exchange"></i> Lịch sử giao dịch</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="CreateWithdrawal"><i class="nav-icon fa fa-send-o"></i> Yêu Cầu Rút Tiền</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item nav-dropdown">
                                            <a class="nav-link nav-dropdown-toggle" href="#">
                                                <i class="fa-solid fa-cart-shopping"></i>
                                                Mua Hàng
                                                <i class="fa-solid fa-chevron-down"></i>
                                            </a>
                                            <ul class="nav-dropdown-item">
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Product" asp-action="Index"><i class="fa-brands fa-product-hunt"></i> Sản Phẩm</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Product" asp-action="Index"><i class="nav-icon fa fa-list"></i> Đơn Hàng</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item nav-dropdown">
                                            <a class="nav-link nav-dropdown-toggle" href="#">
                                                <i class="nav-icon fa fa-handshake-o"></i>
                                                Trung Gian
                                                <i class="fa-solid fa-chevron-down"></i>
                                            </a>
                                            <ul class="nav-dropdown-item">
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="WalletUser"><i class="fa-solid fa-shop"></i> Chợ Công Khai</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Wallet"><i class="fa-solid fa-bag-shopping"></i> Đơn bán của tôi</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Wallet"><i class="nav-icon fa fa-shopping-cart"></i> Đơn mua của tôi </a>
                                                </li>
                                            </ul>
                                        </li>
                                    }

                                </ul>

                                <ul class="navbar-nav ml-auto">
                                    <!-- Added ml-auto class here -->
                                    @if (ViewBag.accountId == null)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Register">Register</a>
                                        </li>
                                    }
                                    else
                                    {

                                        <li class="dropdown nav-item"><a aria-haspopup="true" href="#" class="nav-link" aria-expanded="false"><i class="fa-regular fa-bell" style="color:black;"></i></a></li>
                                        <li class="nav-item">
                                            <div class="dropdown">
                                                <button class="dropbtn">
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Profile">@AccountDAO.GetAccountWithId(ViewBag.accountId).name</a>
                                                </button>
                                                <div class="dropdown-content">
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Profile">Profile</a>
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Wallet">Wallet</a>
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LogOut">LogOut</a>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>

            <div class="container-fluid">
                @RenderBody()
            </div>

            <footer class="border-top footer text-muted">
                <div class="container">
                    &copy; 2024 - Trade&Deal Hub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>

        </div>
    </div>
@*     <script>
        $(document).ready(function () {
            // Toggle dropdown menu on click
            $('.nav-dropdown').click(function () {
                console.log("Click Click");
                $(this).find('.nav-dropdown-item').slideToggle();
                $(this).toggleClass('active'); // Toggle "active" class for visual indication

                // Toggle arrow direction
                if ($(this).hasClass('active')) {
                    $(this).find('.fa-chevron-down').addClass('fa-rotate-90');
                } else {
                    $(this).find('.fa-chevron-down').removeClass('fa-rotate-90');
                }
            });
        });
        $(document).ready(function () {
            // Hide sidebar on page load
            $('.sidebar').addClass('show-sidebar');

            // Show sidebar on button click
            $('.show-sidebar-button').click(function () {
                console.log("Click Click");
                $('.sidebar').toggleClass('show-sidebar');
            });
        });
    </script> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://kit.fontawesome.com/6ae4d71e22.js" crossorigin="anonymous"></script>

</body>
</html>

                <!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebClient</title>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Account/Wallet.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/WebClient.styles.css" asp-append-version="true" />*@
</head>
<body>
    <div id="root">
        <div class="app">
            <header>
                <div>
                    <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
                        <div class="container-fluid">
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Trade&Deal Hub</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                                <ul class="navbar-nav flex-grow-1">
                                    @if (ViewBag.accountId == null)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item nav-dropdown">
                                            <a class="nav-link nav-dropdown-toggle" style="padding-bottom: 6px;" href="#">
                                                <i class="navbar-toggler-icon fa fa-credit-card"></i>
                                                Quản lý thanh toán
                                                <i class="fa-solid fa-chevron-down"></i>
                                            </a>
                                            <ul class="nav-dropdown-item">
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Wallet"><i class="fa-solid fa-wallet"></i> Ví của tôi</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="CreateDeposit"><i class="nav-icon fa fa-cc-visa"></i> Nạp Tiền</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="TransactionHistory"><i class="nav-icon fa fa-exchange"></i> Lịch sử giao dịch</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="CreateWithdrawal"><i class="nav-icon fa fa-send-o"></i> Yêu Cầu Rút Tiền</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item nav-dropdown">
                                            <a class="nav-link nav-dropdown-toggle" href="#">
                                                <i class="fa-solid fa-cart-shopping"></i>
                                                Mua Hàng
                                                <i class="fa-solid fa-chevron-down"></i>
                                            </a>
                                            <ul class="nav-dropdown-item">
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Product" asp-action="Index"><i class="fa-brands fa-product-hunt"></i> Sản Phẩm</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Product" asp-action="Index"><i class="nav-icon fa fa-list"></i> Đơn Hàng</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item nav-dropdown">
                                            <a class="nav-link nav-dropdown-toggle" href="#">
                                                <i class="nav-icon fa fa-handshake-o"></i>
                                                Trung Gian
                                                <i class="fa-solid fa-chevron-down"></i>
                                            </a>
                                            <ul class="nav-dropdown-item">
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="WalletUser"><i class="fa-solid fa-shop"></i> Chợ Công Khai</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Wallet"><i class="fa-solid fa-bag-shopping"></i> Đơn bán của tôi</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Wallet"><i class="nav-icon fa fa-shopping-cart"></i> Đơn mua của tôi </a>
                                                </li>
                                            </ul>
                                        </li>
                                    }

                                </ul>

                                <ul class="navbar-nav ml-auto">
                                    <!-- Added ml-auto class here -->
                                    @if (ViewBag.accountId == null)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Register">Register</a>
                                        </li>
                                    }
                                    else
                                    {

                                        <li class="dropdown nav-item"><a aria-haspopup="true" href="#" class="nav-link" aria-expanded="false"><i class="fa-regular fa-bell" style="color:black;"></i></a></li>
                                        <li class="nav-item">
                                            <div class="dropdown">
                                                <button class="dropbtn">
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Profile">@AccountDAO.GetAccountWithId(ViewBag.accountId).name</a>
                                                </button>
                                                <div class="dropdown-content">
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Profile">Profile</a>
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Wallet">Wallet</a>
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LogOut">LogOut</a>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>

            <div class="container-fluid">
                @RenderBody()
            </div>

            <footer class="border-top footer text-muted">
                <div class="container">
                    &copy; 2024 - Trade&Deal Hub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>

        </div>
    </div>
@*     <script>
        $(document).ready(function () {
            // Toggle dropdown menu on click
            $('.nav-dropdown').click(function () {
                console.log("Click Click");
                $(this).find('.nav-dropdown-item').slideToggle();
                $(this).toggleClass('active'); // Toggle "active" class for visual indication

                // Toggle arrow direction
                if ($(this).hasClass('active')) {
                    $(this).find('.fa-chevron-down').addClass('fa-rotate-90');
                } else {
                    $(this).find('.fa-chevron-down').removeClass('fa-rotate-90');
                }
            });
        });
        $(document).ready(function () {
            // Hide sidebar on page load
            $('.sidebar').addClass('show-sidebar');

            // Show sidebar on button click
            $('.show-sidebar-button').click(function () {
                console.log("Click Click");
                $('.sidebar').toggleClass('show-sidebar');
            });
        });
    </script> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://kit.fontawesome.com/6ae4d71e22.js" crossorigin="anonymous"></script>

</body>
</html>

                <!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebClient</title>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Account/Wallet.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/WebClient.styles.css" asp-append-version="true" />*@
</head>
<body>
    <div id="root">
        <div class="app">
            <header>
                <div>
                    <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
                        <div class="container-fluid">
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Trade&Deal Hub</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                                <ul class="navbar-nav flex-grow-1">
                                    @if (ViewBag.accountId == null)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item nav-dropdown">
                                            <a class="nav-link nav-dropdown-toggle" style="padding-bottom: 6px;" href="#">
                                                <i class="navbar-toggler-icon fa fa-credit-card"></i>
                                                Quản lý thanh toán
                                                <i class="fa-solid fa-chevron-down"></i>
                                            </a>
                                            <ul class="nav-dropdown-item">
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Wallet"><i class="fa-solid fa-wallet"></i> Ví của tôi</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="CreateDeposit"><i class="nav-icon fa fa-cc-visa"></i> Nạp Tiền</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="TransactionHistory"><i class="nav-icon fa fa-exchange"></i> Lịch sử giao dịch</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="CreateWithdrawal"><i class="nav-icon fa fa-send-o"></i> Yêu Cầu Rút Tiền</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item nav-dropdown">
                                            <a class="nav-link nav-dropdown-toggle" href="#">
                                                <i class="fa-solid fa-cart-shopping"></i>
                                                Mua Hàng
                                                <i class="fa-solid fa-chevron-down"></i>
                                            </a>
                                            <ul class="nav-dropdown-item">
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Product" asp-action="Index"><i class="fa-brands fa-product-hunt"></i> Sản Phẩm</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Product" asp-action="Index"><i class="nav-icon fa fa-list"></i> Đơn Hàng</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item nav-dropdown">
                                            <a class="nav-link nav-dropdown-toggle" href="#">
                                                <i class="nav-icon fa fa-handshake-o"></i>
                                                Trung Gian
                                                <i class="fa-solid fa-chevron-down"></i>
                                            </a>
                                            <ul class="nav-dropdown-item">
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="WalletUser"><i class="fa-solid fa-shop"></i> Chợ Công Khai</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Wallet"><i class="fa-solid fa-bag-shopping"></i> Đơn bán của tôi</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Wallet"><i class="nav-icon fa fa-shopping-cart"></i> Đơn mua của tôi </a>
                                                </li>
                                            </ul>
                                        </li>
                                    }

                                </ul>

                                <ul class="navbar-nav ml-auto">
                                    <!-- Added ml-auto class here -->
                                    @if (ViewBag.accountId == null)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Register">Register</a>
                                        </li>
                                    }
                                    else
                                    {

                                        <li class="dropdown nav-item"><a aria-haspopup="true" href="#" class="nav-link" aria-expanded="false"><i class="fa-regular fa-bell" style="color:black;"></i></a></li>
                                        <li class="nav-item">
                                            <div class="dropdown">
                                                <button class="dropbtn">
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Profile">@AccountDAO.GetAccountWithId(ViewBag.accountId).name</a>
                                                </button>
                                                <div class="dropdown-content">
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Profile">Profile</a>
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Wallet">Wallet</a>
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LogOut">LogOut</a>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>

            <div class="container-fluid">
                @RenderBody()
            </div>

            <footer class="border-top footer text-muted">
                <div class="container">
                    &copy; 2024 - Trade&Deal Hub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>

        </div>
    </div>
@*     <script>
        $(document).ready(function () {
            // Toggle dropdown menu on click
            $('.nav-dropdown').click(function () {
                console.log("Click Click");
                $(this).find('.nav-dropdown-item').slideToggle();
                $(this).toggleClass('active'); // Toggle "active" class for visual indication

                // Toggle arrow direction
                if ($(this).hasClass('active')) {
                    $(this).find('.fa-chevron-down').addClass('fa-rotate-90');
                } else {
                    $(this).find('.fa-chevron-down').removeClass('fa-rotate-90');
                }
            });
        });
        $(document).ready(function () {
            // Hide sidebar on page load
            $('.sidebar').addClass('show-sidebar');

            // Show sidebar on button click
            $('.show-sidebar-button').click(function () {
                console.log("Click Click");
                $('.sidebar').toggleClass('show-sidebar');
            });
        });
    </script> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://kit.fontawesome.com/6ae4d71e22.js" crossorigin="anonymous"></script>

</body>
</html>

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebClient</title>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Account/Wallet.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/WebClient.styles.css" asp-append-version="true" />*@
</head>
<body>
    <div id="root">
        <div class="app">
            <header>
                <div>
                    <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
                        <div class="container-fluid">
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Trade&Deal Hub</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                                <ul class="navbar-nav flex-grow-1">
                                    @if (ViewBag.accountId == null)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item nav-dropdown">
                                            <a class="nav-link nav-dropdown-toggle" style="padding-bottom: 6px;" href="#">
                                                <i class="navbar-toggler-icon fa fa-credit-card"></i>
                                                Quản lý thanh toán
                                                <i class="fa-solid fa-chevron-down"></i>
                                            </a>
                                            <ul class="nav-dropdown-item">
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Wallet"><i class="fa-solid fa-wallet"></i> Ví của tôi</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="CreateDeposit"><i class="nav-icon fa fa-cc-visa"></i> Nạp Tiền</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="TransactionHistory"><i class="nav-icon fa fa-exchange"></i> Lịch sử giao dịch</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="CreateWithdrawal"><i class="nav-icon fa fa-send-o"></i> Yêu Cầu Rút Tiền</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item nav-dropdown">
                                            <a class="nav-link nav-dropdown-toggle" href="#">
                                                <i class="fa-solid fa-cart-shopping"></i>
                                                Mua Hàng
                                                <i class="fa-solid fa-chevron-down"></i>
                                            </a>
                                            <ul class="nav-dropdown-item">
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Product" asp-action="Index"><i class="fa-brands fa-product-hunt"></i> Sản Phẩm</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Product" asp-action="Index"><i class="nav-icon fa fa-list"></i> Đơn Hàng</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item nav-dropdown">
                                            <a class="nav-link nav-dropdown-toggle" href="#">
                                                <i class="nav-icon fa fa-handshake-o"></i>
                                                Trung Gian
                                                <i class="fa-solid fa-chevron-down"></i>
                                            </a>
                                            <ul class="nav-dropdown-item">
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="WalletUser"><i class="fa-solid fa-shop"></i> Chợ Công Khai</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Wallet"><i class="fa-solid fa-bag-shopping"></i> Đơn bán của tôi</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Wallet"><i class="nav-icon fa fa-shopping-cart"></i> Đơn mua của tôi </a>
                                                </li>
                                            </ul>
                                        </li>
                                    }

                                </ul>

                                <ul class="navbar-nav ml-auto">
                                    <!-- Added ml-auto class here -->
                                    @if (ViewBag.accountId == null)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Register">Register</a>
                                        </li>
                                    }
                                    else
                                    {

                                        <li class="dropdown nav-item"><a aria-haspopup="true" href="#" class="nav-link" aria-expanded="false"><i class="fa-regular fa-bell" style="color:black;"></i></a></li>
                                        <li class="nav-item">
                                            <div class="dropdown">
                                                <button class="dropbtn">
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Profile">@AccountDAO.GetAccountWithId(ViewBag.accountId).name</a>
                                                </button>
                                                <div class="dropdown-content">
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Profile">Profile</a>
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Wallet">Wallet</a>
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LogOut">LogOut</a>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>

            <div class="container-fluid">
                @RenderBody()
            </div>

            <footer class="border-top footer text-muted">
                <div class="container">
                    &copy; 2024 - Trade&Deal Hub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>

        </div>
    </div>
    @*     <script>
    $(document).ready(function () {
    // Toggle dropdown menu on click
    $('.nav-dropdown').click(function () {
    console.log("Click Click");
    $(this).find('.nav-dropdown-item').slideToggle();
    $(this).toggleClass('active'); // Toggle "active" class for visual indication

    // Toggle arrow direction
    if ($(this).hasClass('active')) {
    $(this).find('.fa-chevron-down').addClass('fa-rotate-90');
    } else {
    $(this).find('.fa-chevron-down').removeClass('fa-rotate-90');
    }
    });
    });
    $(document).ready(function () {
    // Hide sidebar on page load
    $('.sidebar').addClass('show-sidebar');

    // Show sidebar on button click
    $('.show-sidebar-button').click(function () {
    console.log("Click Click");
    $('.sidebar').toggleClass('show-sidebar');
    });
    });
    </script> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://kit.fontawesome.com/6ae4d71e22.js" crossorigin="anonymous"></script>

</body>
</html>
