@using Business.Models;
@using DataAccess.DAO;
@using WebClient2
@using WebClient2.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{


}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trade&Deal Hub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home/ForgotPassword.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Trade&Deal Hub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <html>
    <div class="container">
        <main role="main" class="pb-3">
            <form method="post" asp-controller="Home" asp-action="ForgotPassword">
                <marquee behavior="scroll" direction="left"><h6 style="color: red;">Thông báo: Đây là trang quên mật khẩu <br> Trong quá trình sử dụng nếu bạn có quên mật khẩu hãy điền theo thứ tự form bên dưới để lấy lại mật khẩu</h6></marquee>
                <h1>Forgot PassWord</h1>
                <label>Your Email Address</label><br />
                <input type="email" id="email" name="email" value="" maxlength="120" size="40" required /><br />
                <label>Your New PassWord</label><br />
                <input type="password" id="password" name="password" placeholder="password" value="" maxlength="120" size="40" required /> <br />
                <label>Confirm New PassWord</label><br />
                <input type="password" id="cfpassword" name="cfpassword" placeholder="confirm password" value="" maxlength="120" size="40" required /><br />
                <div class="captcha-div">
                    <span id="Captcha-image">
                        <img id="captchaImage" src="data:image/png;base64,@ViewBag.CaptchaImageBytes"
                             alt="Captcha Image" />
                    </span>
                    <div class="input-group">
                        <input type="text" id="captcha" name="captcha" class="captcha-form form-control" placeholder="Input capcha" required>
                    </div>
                    <button type="button" id="refreshCaptcha">Refresh Captcha</button>
                </div>
                <label>Code Validate</label><br />
                <input type="text" id="code" name="code" value="" maxlength="120" size="40" required /><br />

                <button class="buttonEmail" type="button" onclick="sendEmail()">Send Email Take Code Before Submit</button><br /> <br />
                <input type="submit" name="submit" value="Submit" />

            </form>

        </main>
    </div>
</html>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - Trade&Deal Hub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</body>
<script>
    function sendEmail() {
        var email = $("#email").val();

        $.ajax({
            type: "POST", // hoặc "GET" tùy thuộc vào loại yêu cầu của bạn
            url: "/Home/SendEmailForgot", // Thay thế bằng đường dẫn của action bạn muốn gọi
            data: { email: email },
            success: function (result) {
                // Xử lý kết quả từ action nếu cần
                console.log(result);
                alert("Email Have Send Check Email To Get Code");
            },
            error: function (error) {
                // Xử lý lỗi nếu có
                console.log(error);
            }
        });
    }
</script>

<script>
    $(document).ready(function () {
        // Gán sự kiện click cho nút refresh captcha
        $("#refreshCaptcha").on("click", function () {
            refreshCaptchaImage();
        });
    });

    function refreshCaptchaImage() {
         alert("Đã gửi Mail");
        $.ajax({
            type: "POST",
            url: "/Home/RefreshCaptchaForgotPassword", // Thay thế bằng đường dẫn của action cập nhật captcha
            success: function (result) {
                // Cập nhật ảnh captcha mới
                $("#captchaImage").attr("src", "data:image/png;base64," + result);
                $('#captcha').val('');
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>
</html>

        @using Business.Models;
@using DataAccess.DAO;
@using WebClient2
@using WebClient2.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{


}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trade&Deal Hub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home/ForgotPassword.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Trade&Deal Hub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <html>
    <div class="container">
        <main role="main" class="pb-3">
            <form method="post" asp-controller="Home" asp-action="ForgotPassword">
                <marquee behavior="scroll" direction="left"><h6 style="color: red;">Thông báo: Đây là trang quên mật khẩu <br> Trong quá trình sử dụng nếu bạn có quên mật khẩu hãy điền theo thứ tự form bên dưới để lấy lại mật khẩu</h6></marquee>
                <h1>Forgot PassWord</h1>
                <label>Your Email Address</label><br />
                <input type="email" id="email" name="email" value="" maxlength="120" size="40" required /><br />
                <label>Your New PassWord</label><br />
                <input type="password" id="password" name="password" placeholder="password" value="" maxlength="120" size="40" required /> <br />
                <label>Confirm New PassWord</label><br />
                <input type="password" id="cfpassword" name="cfpassword" placeholder="confirm password" value="" maxlength="120" size="40" required /><br />
                <div class="captcha-div">
                    <span id="Captcha-image">
                        <img id="captchaImage" src="data:image/png;base64,@ViewBag.CaptchaImageBytes"
                             alt="Captcha Image" />
                    </span>
                    <div class="input-group">
                        <input type="text" id="captcha" name="captcha" class="captcha-form form-control" placeholder="Input capcha" required>
                    </div>
                    <button type="button" id="refreshCaptcha">Refresh Captcha</button>
                </div>
                <label>Code Validate</label><br />
                <input type="text" id="code" name="code" value="" maxlength="120" size="40" required /><br />

                <button class="buttonEmail" type="button" onclick="sendEmail()">Send Email Take Code Before Submit</button><br /> <br />
                <input type="submit" name="submit" value="Submit" />

            </form>

        </main>
    </div>
</html>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - Trade&Deal Hub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</body>
<script>
    function sendEmail() {
        var email = $("#email").val();

        $.ajax({
            type: "POST", // hoặc "GET" tùy thuộc vào loại yêu cầu của bạn
            url: "/Home/SendEmailForgot", // Thay thế bằng đường dẫn của action bạn muốn gọi
            data: { email: email },
            success: function (result) {
                // Xử lý kết quả từ action nếu cần
                console.log(result);
                alert("Email Have Send Check Email To Get Code");
            },
            error: function (error) {
                // Xử lý lỗi nếu có
                console.log(error);
            }
        });
    }
</script>

<script>
    $(document).ready(function () {
        // Gán sự kiện click cho nút refresh captcha
        $("#refreshCaptcha").on("click", function () {
            refreshCaptchaImage();
        });
    });

    function refreshCaptchaImage() {
        alert("Đã gửi Mail");
        $.ajax({
            type: "POST",
            url: "/Home/RefreshCaptchaForgotPassword", // Thay thế bằng đường dẫn của action cập nhật captcha
            success: function (result) {
                // Cập nhật ảnh captcha mới
                $("#captchaImage").attr("src", "data:image/png;base64," + result);
                $('#captcha').val('');
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>
</html>

        @using Business.Models;
@using DataAccess.DAO;
@using WebClient2
@using WebClient2.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{


}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trade&Deal Hub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home/ForgotPassword.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Trade&Deal Hub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <html>
    <div class="container">
        <main role="main" class="pb-3">
            <form method="post" asp-controller="Home" asp-action="ForgotPassword">
                <marquee behavior="scroll" direction="left"><h6 style="color: red;">Thông báo: Đây là trang quên mật khẩu <br> Trong quá trình sử dụng nếu bạn có quên mật khẩu hãy điền theo thứ tự form bên dưới để lấy lại mật khẩu</h6></marquee>
                <h1>Forgot PassWord</h1>
                <label>Your Email Address</label><br />
                <input type="email" id="email" name="email" value="" maxlength="120" size="40" required /><br />
                <label>Your New PassWord</label><br />
                <input type="password" id="password" name="password" placeholder="password" value="" maxlength="120" size="40" required /> <br />
                <label>Confirm New PassWord</label><br />
                <input type="password" id="cfpassword" name="cfpassword" placeholder="confirm password" value="" maxlength="120" size="40" required /><br />
                <div class="captcha-div">
                    <span id="Captcha-image">
                        <img id="captchaImage" src="data:image/png;base64,@ViewBag.CaptchaImageBytes"
                             alt="Captcha Image" />
                    </span>
                    <div class="input-group">
                        <input type="text" id="captcha" name="captcha" class="captcha-form form-control" placeholder="Input capcha" required>
                    </div>
                    <button type="button" id="refreshCaptcha">Refresh Captcha</button>
                </div>
                <label>Code Validate</label><br />
                <input type="text" id="code" name="code" value="" maxlength="120" size="40" required /><br />

                <button class="buttonEmail" type="button" onclick="sendEmail()">Send Email Take Code Before Submit</button><br /> <br />
                <input type="submit" name="submit" value="Submit" />

            </form>

        </main>
    </div>
</html>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - Trade&Deal Hub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</body>
<script>
    function sendEmail() {
        var email = $("#email").val();

        $.ajax({
            type: "POST", // hoặc "GET" tùy thuộc vào loại yêu cầu của bạn
            url: "/Home/SendEmailForgot", // Thay thế bằng đường dẫn của action bạn muốn gọi
            data: { email: email },
            success: function (result) {
                // Xử lý kết quả từ action nếu cần
                console.log(result);
                alert("Email Have Send Check Email To Get Code");
            },
            error: function (error) {
                // Xử lý lỗi nếu có
                console.log(error);
            }
        });
    }
</script>

<script>
    $(document).ready(function () {
        // Gán sự kiện click cho nút refresh captcha
        $("#refreshCaptcha").on("click", function () {
            refreshCaptchaImage();
        });
    });

    function refreshCaptchaImage() {
         alert("Đã gửi Mail");
        $.ajax({
            type: "POST",
            url: "/Home/RefreshCaptchaForgotPassword", // Thay thế bằng đường dẫn của action cập nhật captcha
            success: function (result) {
                // Cập nhật ảnh captcha mới
                $("#captchaImage").attr("src", "data:image/png;base64," + result);
                $('#captcha').val('');
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>
</html>

        @using Business.Models;
@using DataAccess.DAO;
@using WebClient2
@using WebClient2.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{


}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trade&Deal Hub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home/ForgotPassword.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Trade&Deal Hub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <html>
    <div class="container">
        <main role="main" class="pb-3">
            <form method="post" asp-controller="Home" asp-action="ForgotPassword">
                <marquee behavior="scroll" direction="left"><h6 style="color: red;">Thông báo: Đây là trang quên mật khẩu <br> Trong quá trình sử dụng nếu bạn có quên mật khẩu hãy điền theo thứ tự form bên dưới để lấy lại mật khẩu</h6></marquee>
                <h1>Forgot PassWord</h1>
                <label>Your Email Address</label><br />
                <input type="email" id="email" name="email" value="" maxlength="120" size="40" required /><br />
                <label>Your New PassWord</label><br />
                <input type="password" id="password" name="password" placeholder="password" value="" maxlength="120" size="40" required /> <br />
                <label>Confirm New PassWord</label><br />
                <input type="password" id="cfpassword" name="cfpassword" placeholder="confirm password" value="" maxlength="120" size="40" required /><br />
                <div class="captcha-div">
                    <span id="Captcha-image">
                        <img id="captchaImage" src="data:image/png;base64,@ViewBag.CaptchaImageBytes"
                             alt="Captcha Image" />
                    </span>
                    <div class="input-group">
                        <input type="text" id="captcha" name="captcha" class="captcha-form form-control" placeholder="Input capcha" required>
                    </div>
                    <button type="button" id="refreshCaptcha">Refresh Captcha</button>
                </div>
                <label>Code Validate</label><br />
                <input type="text" id="code" name="code" value="" maxlength="120" size="40" required /><br />

                <button class="buttonEmail" type="button" onclick="sendEmail()">Send Email Take Code Before Submit</button><br /> <br />
                <input type="submit" name="submit" value="Submit" />

            </form>

        </main>
    </div>
</html>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - Trade&Deal Hub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</body>
<script>
    function sendEmail() {
        var email = $("#email").val();

        $.ajax({
            type: "POST", // hoặc "GET" tùy thuộc vào loại yêu cầu của bạn
            url: "/Home/SendEmailForgot", // Thay thế bằng đường dẫn của action bạn muốn gọi
            data: { email: email },
            success: function (result) {
                // Xử lý kết quả từ action nếu cần
                console.log(result);
                alert("Email Have Send Check Email To Get Code");
            },
            error: function (error) {
                // Xử lý lỗi nếu có
                console.log(error);
            }
        });
    }
</script>

<script>
    $(document).ready(function () {
        // Gán sự kiện click cho nút refresh captcha
        $("#refreshCaptcha").on("click", function () {
            refreshCaptchaImage();
        });
    });

    function refreshCaptchaImage() {
         alert("Đã gửi Mail");
        $.ajax({
            type: "POST",
            url: "/Home/RefreshCaptchaForgotPassword", // Thay thế bằng đường dẫn của action cập nhật captcha
            success: function (result) {
                // Cập nhật ảnh captcha mới
                $("#captchaImage").attr("src", "data:image/png;base64," + result);
                $('#captcha').val('');
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>
</html>

        @using Business.Models;
@using DataAccess.DAO;
@using WebClient2
@using WebClient2.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{


}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trade&Deal Hub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home/ForgotPassword.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Trade&Deal Hub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <html>
    <div class="container">
        <main role="main" class="pb-3">
            <form method="post" asp-controller="Home" asp-action="ForgotPassword">
                <marquee behavior="scroll" direction="left"><h6 style="color: red;">Thông báo: Đây là trang quên mật khẩu <br> Trong quá trình sử dụng nếu bạn có quên mật khẩu hãy điền theo thứ tự form bên dưới để lấy lại mật khẩu</h6></marquee>
                <h1>Forgot PassWord</h1>
                <label>Your Email Address</label><br />
                <input type="email" id="email" name="email" value="" maxlength="120" size="40" required /><br />
                <label>Your New PassWord</label><br />
                <input type="password" id="password" name="password" placeholder="password" value="" maxlength="120" size="40" required /> <br />
                <label>Confirm New PassWord</label><br />
                <input type="password" id="cfpassword" name="cfpassword" placeholder="confirm password" value="" maxlength="120" size="40" required /><br />
                <div class="captcha-div">
                    <span id="Captcha-image">
                        <img id="captchaImage" src="data:image/png;base64,@ViewBag.CaptchaImageBytes"
                             alt="Captcha Image" />
                    </span>
                    <div class="input-group">
                        <input type="text" id="captcha" name="captcha" class="captcha-form form-control" placeholder="Input capcha" required>
                    </div>
                    <button type="button" id="refreshCaptcha">Refresh Captcha</button>
                </div>
                <label>Code Validate</label><br />
                <input type="text" id="code" name="code" value="" maxlength="120" size="40" required /><br />

                <button class="buttonEmail" type="button" onclick="sendEmail()">Send Email Take Code Before Submit</button><br /> <br />
                <input type="submit" name="submit" value="Submit" />

            </form>

        </main>
    </div>
</html>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - Trade&Deal Hub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</body>
<script>
    function sendEmail() {
        var email = $("#email").val();

        $.ajax({
            type: "POST", // hoặc "GET" tùy thuộc vào loại yêu cầu của bạn
            url: "/Home/SendEmailForgot", // Thay thế bằng đường dẫn của action bạn muốn gọi
            data: { email: email },
            success: function (result) {
                // Xử lý kết quả từ action nếu cần
                console.log(result);
                alert("Email Have Send Check Email To Get Code");
            },
            error: function (error) {
                // Xử lý lỗi nếu có
                console.log(error);
            }
        });
    }
</script>

<script>
    $(document).ready(function () {
        // Gán sự kiện click cho nút refresh captcha
        $("#refreshCaptcha").on("click", function () {
            refreshCaptchaImage();
        });
    });

    function refreshCaptchaImage() {
        alert("Đã gửi Mail");
        $.ajax({
            type: "POST",
            url: "/Home/RefreshCaptchaForgotPassword", // Thay thế bằng đường dẫn của action cập nhật captcha
            success: function (result) {
                // Cập nhật ảnh captcha mới
                $("#captchaImage").attr("src", "data:image/png;base64," + result);
                $('#captcha').val('');
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>
</html>

        @using Business.Models;
@using DataAccess.DAO;
@using WebClient2
@using WebClient2.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{


}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trade&Deal Hub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home/ForgotPassword.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Trade&Deal Hub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <html>
    <div class="container">
        <main role="main" class="pb-3">
            <form method="post" asp-controller="Home" asp-action="ForgotPassword">
                <marquee behavior="scroll" direction="left"><h6 style="color: red;">Thông báo: Đây là trang quên mật khẩu <br> Trong quá trình sử dụng nếu bạn có quên mật khẩu hãy điền theo thứ tự form bên dưới để lấy lại mật khẩu</h6></marquee>
                <h1>Forgot PassWord</h1>
                <label>Your Email Address</label><br />
                <input type="email" id="email" name="email" value="" maxlength="120" size="40" required /><br />
                <label>Your New PassWord</label><br />
                <input type="password" id="password" name="password" placeholder="password" value="" maxlength="120" size="40" required /> <br />
                <label>Confirm New PassWord</label><br />
                <input type="password" id="cfpassword" name="cfpassword" placeholder="confirm password" value="" maxlength="120" size="40" required /><br />
                <div class="captcha-div">
                    <span id="Captcha-image">
                        <img id="captchaImage" src="data:image/png;base64,@ViewBag.CaptchaImageBytes"
                             alt="Captcha Image" />
                    </span>
                    <div class="input-group">
                        <input type="text" id="captcha" name="captcha" class="captcha-form form-control" placeholder="Input capcha" required>
                    </div>
                    <button type="button" id="refreshCaptcha">Refresh Captcha</button>
                </div>
                <label>Code Validate</label><br />
                <input type="text" id="code" name="code" value="" maxlength="120" size="40" required /><br />

                <button class="buttonEmail" type="button" onclick="sendEmail()">Send Email Take Code Before Submit</button><br /> <br />
                <input type="submit" name="submit" value="Submit" />

            </form>

        </main>
    </div>
</html>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - Trade&Deal Hub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</body>
<script>
    function sendEmail() {
        var email = $("#email").val();

        $.ajax({
            type: "POST", // hoặc "GET" tùy thuộc vào loại yêu cầu của bạn
            url: "/Home/SendEmailForgot", // Thay thế bằng đường dẫn của action bạn muốn gọi
            data: { email: email },
            success: function (result) {
                // Xử lý kết quả từ action nếu cần
                console.log(result);
                alert("Email Have Send Check Email To Get Code");
            },
            error: function (error) {
                // Xử lý lỗi nếu có
                console.log(error);
            }
        });
    }
</script>

<script>
    $(document).ready(function () {
        // Gán sự kiện click cho nút refresh captcha
        $("#refreshCaptcha").on("click", function () {
            refreshCaptchaImage();
        });
    });

    function refreshCaptchaImage() {
         alert("Đã gửi Mail");
        $.ajax({
            type: "POST",
            url: "/Home/RefreshCaptchaForgotPassword", // Thay thế bằng đường dẫn của action cập nhật captcha
            success: function (result) {
                // Cập nhật ảnh captcha mới
                $("#captchaImage").attr("src", "data:image/png;base64," + result);
                $('#captcha').val('');
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>
</html>

        @using Business.Models;
@using DataAccess.DAO;
@using WebClient2
@using WebClient2.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{


}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trade&Deal Hub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home/ForgotPassword.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Trade&Deal Hub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <html>
    <div class="container">
        <main role="main" class="pb-3">
            <form method="post" asp-controller="Home" asp-action="ForgotPassword">
                <marquee behavior="scroll" direction="left"><h6 style="color: red;">Thông báo: Đây là trang quên mật khẩu <br> Trong quá trình sử dụng nếu bạn có quên mật khẩu hãy điền theo thứ tự form bên dưới để lấy lại mật khẩu</h6></marquee>
                <h1>Forgot PassWord</h1>
                <label>Your Email Address</label><br />
                <input type="email" id="email" name="email" value="" maxlength="120" size="40" required /><br />
                <label>Your New PassWord</label><br />
                <input type="password" id="password" name="password" placeholder="password" value="" maxlength="120" size="40" required /> <br />
                <label>Confirm New PassWord</label><br />
                <input type="password" id="cfpassword" name="cfpassword" placeholder="confirm password" value="" maxlength="120" size="40" required /><br />
                <div class="captcha-div">
                    <span id="Captcha-image">
                        <img id="captchaImage" src="data:image/png;base64,@ViewBag.CaptchaImageBytes"
                             alt="Captcha Image" />
                    </span>
                    <div class="input-group">
                        <input type="text" id="captcha" name="captcha" class="captcha-form form-control" placeholder="Input capcha" required>
                    </div>
                    <button type="button" id="refreshCaptcha">Refresh Captcha</button>
                </div>
                <label>Code Validate</label><br />
                <input type="text" id="code" name="code" value="" maxlength="120" size="40" required /><br />

                <button class="buttonEmail" type="button" onclick="sendEmail()">Send Email Take Code Before Submit</button><br /> <br />
                <input type="submit" name="submit" value="Submit" />

            </form>

        </main>
    </div>
</html>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - Trade&Deal Hub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</body>
<script>
    function sendEmail() {
        var email = $("#email").val();

        $.ajax({
            type: "POST", // hoặc "GET" tùy thuộc vào loại yêu cầu của bạn
            url: "/Home/SendEmailForgot", // Thay thế bằng đường dẫn của action bạn muốn gọi
            data: { email: email },
            success: function (result) {
                // Xử lý kết quả từ action nếu cần
                console.log(result);
                alert("Email Have Send Check Email To Get Code");
            },
            error: function (error) {
                // Xử lý lỗi nếu có
                console.log(error);
            }
        });
    }
</script>

<script>
    $(document).ready(function () {
        // Gán sự kiện click cho nút refresh captcha
        $("#refreshCaptcha").on("click", function () {
            refreshCaptchaImage();
        });
    });

    function refreshCaptchaImage() {
        alert("Đã gửi Mail");
        $.ajax({
            type: "POST",
            url: "/Home/RefreshCaptchaForgotPassword", // Thay thế bằng đường dẫn của action cập nhật captcha
            success: function (result) {
                // Cập nhật ảnh captcha mới
                $("#captchaImage").attr("src", "data:image/png;base64," + result);
                $('#captcha').val('');
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>
</html>

        @using Business.Models;
@using DataAccess.DAO;
@using WebClient2
@using WebClient2.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{


}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trade&Deal Hub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home/ForgotPassword.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Trade&Deal Hub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <html>
    <div class="container">
        <main role="main" class="pb-3">
            <form method="post" asp-controller="Home" asp-action="ForgotPassword">
                <marquee behavior="scroll" direction="left"><h6 style="color: red;">Thông báo: Đây là trang quên mật khẩu <br> Trong quá trình sử dụng nếu bạn có quên mật khẩu hãy điền theo thứ tự form bên dưới để lấy lại mật khẩu</h6></marquee>
                <h1>Forgot PassWord</h1>
                <label>Your Email Address</label><br />
                <input type="email" id="email" name="email" value="" maxlength="120" size="40" required /><br />
                <label>Your New PassWord</label><br />
                <input type="password" id="password" name="password" placeholder="password" value="" maxlength="120" size="40" required /> <br />
                <label>Confirm New PassWord</label><br />
                <input type="password" id="cfpassword" name="cfpassword" placeholder="confirm password" value="" maxlength="120" size="40" required /><br />
                <div class="captcha-div">
                    <span id="Captcha-image">
                        <img id="captchaImage" src="data:image/png;base64,@ViewBag.CaptchaImageBytes"
                             alt="Captcha Image" />
                    </span>
                    <div class="input-group">
                        <input type="text" id="captcha" name="captcha" class="captcha-form form-control" placeholder="Input capcha" required>
                    </div>
                    <button type="button" id="refreshCaptcha">Refresh Captcha</button>
                </div>
                <label>Code Validate</label><br />
                <input type="text" id="code" name="code" value="" maxlength="120" size="40" required /><br />

                <button class="buttonEmail" type="button" onclick="sendEmail()">Send Email Take Code Before Submit</button><br /> <br />
                <input type="submit" name="submit" value="Submit" />

            </form>

        </main>
    </div>
</html>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - Trade&Deal Hub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</body>
<script>
    function sendEmail() {
        var email = $("#email").val();

        $.ajax({
            type: "POST", // hoặc "GET" tùy thuộc vào loại yêu cầu của bạn
            url: "/Home/SendEmailForgot", // Thay thế bằng đường dẫn của action bạn muốn gọi
            data: { email: email },
            success: function (result) {
                // Xử lý kết quả từ action nếu cần
                console.log(result);
                alert("Email Have Send Check Email To Get Code");
            },
            error: function (error) {
                // Xử lý lỗi nếu có
                console.log(error);
            }
        });
    }
</script>

<script>
    $(document).ready(function () {
        // Gán sự kiện click cho nút refresh captcha
        $("#refreshCaptcha").on("click", function () {
            refreshCaptchaImage();
        });
    });

    function refreshCaptchaImage() {
         alert("Đã gửi Mail");
        $.ajax({
            type: "POST",
            url: "/Home/RefreshCaptchaForgotPassword", // Thay thế bằng đường dẫn của action cập nhật captcha
            success: function (result) {
                // Cập nhật ảnh captcha mới
                $("#captchaImage").attr("src", "data:image/png;base64," + result);
                $('#captcha').val('');
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>
</html>

        @using Business.Models;
@using DataAccess.DAO;
@using WebClient2
@using WebClient2.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{


}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trade&Deal Hub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home/ForgotPassword.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Trade&Deal Hub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <html>
    <div class="container">
        <main role="main" class="pb-3">
            <form method="post" asp-controller="Home" asp-action="ForgotPassword">
                <marquee behavior="scroll" direction="left"><h6 style="color: red;">Thông báo: Đây là trang quên mật khẩu <br> Trong quá trình sử dụng nếu bạn có quên mật khẩu hãy điền theo thứ tự form bên dưới để lấy lại mật khẩu</h6></marquee>
                <h1>Forgot PassWord</h1>
                <label>Your Email Address</label><br />
                <input type="email" id="email" name="email" value="" maxlength="120" size="40" required /><br />
                <label>Your New PassWord</label><br />
                <input type="password" id="password" name="password" placeholder="password" value="" maxlength="120" size="40" required /> <br />
                <label>Confirm New PassWord</label><br />
                <input type="password" id="cfpassword" name="cfpassword" placeholder="confirm password" value="" maxlength="120" size="40" required /><br />
                <div class="captcha-div">
                    <span id="Captcha-image">
                        <img id="captchaImage" src="data:image/png;base64,@ViewBag.CaptchaImageBytes"
                             alt="Captcha Image" />
                    </span>
                    <div class="input-group">
                        <input type="text" id="captcha" name="captcha" class="captcha-form form-control" placeholder="Input capcha" required>
                    </div>
                    <button type="button" id="refreshCaptcha">Refresh Captcha</button>
                </div>
                <label>Code Validate</label><br />
                <input type="text" id="code" name="code" value="" maxlength="120" size="40" required /><br />

                <button class="buttonEmail" type="button" onclick="sendEmail()">Send Email Take Code Before Submit</button><br /> <br />
                <input type="submit" name="submit" value="Submit" />

            </form>

        </main>
    </div>
</html>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - Trade&Deal Hub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</body>
<script>
    function sendEmail() {
        var email = $("#email").val();

        $.ajax({
            type: "POST", // hoặc "GET" tùy thuộc vào loại yêu cầu của bạn
            url: "/Home/SendEmailForgot", // Thay thế bằng đường dẫn của action bạn muốn gọi
            data: { email: email },
            success: function (result) {
                // Xử lý kết quả từ action nếu cần
                console.log(result);
                alert("Email Have Send Check Email To Get Code");
            },
            error: function (error) {
                // Xử lý lỗi nếu có
                console.log(error);
            }
        });
    }
</script>

<script>
    $(document).ready(function () {
        // Gán sự kiện click cho nút refresh captcha
        $("#refreshCaptcha").on("click", function () {
            refreshCaptchaImage();
        });
    });

    function refreshCaptchaImage() {
         alert("Đã gửi Mail");
        $.ajax({
            type: "POST",
            url: "/Home/RefreshCaptchaForgotPassword", // Thay thế bằng đường dẫn của action cập nhật captcha
            success: function (result) {
                // Cập nhật ảnh captcha mới
                $("#captchaImage").attr("src", "data:image/png;base64," + result);
                $('#captcha').val('');
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>
</html>

        @using Business.Models;
@using DataAccess.DAO;
@using WebClient2
@using WebClient2.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{


}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trade&Deal Hub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home/ForgotPassword.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Trade&Deal Hub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <html>
    <div class="container">
        <main role="main" class="pb-3">
            <form method="post" asp-controller="Home" asp-action="ForgotPassword">
                <marquee behavior="scroll" direction="left"><h6 style="color: red;">Thông báo: Đây là trang quên mật khẩu <br> Trong quá trình sử dụng nếu bạn có quên mật khẩu hãy điền theo thứ tự form bên dưới để lấy lại mật khẩu</h6></marquee>
                <h1>Forgot PassWord</h1>
                <label>Your Email Address</label><br />
                <input type="email" id="email" name="email" value="" maxlength="120" size="40" required /><br />
                <label>Your New PassWord</label><br />
                <input type="password" id="password" name="password" placeholder="password" value="" maxlength="120" size="40" required /> <br />
                <label>Confirm New PassWord</label><br />
                <input type="password" id="cfpassword" name="cfpassword" placeholder="confirm password" value="" maxlength="120" size="40" required /><br />
                <div class="captcha-div">
                    <span id="Captcha-image">
                        <img id="captchaImage" src="data:image/png;base64,@ViewBag.CaptchaImageBytes"
                             alt="Captcha Image" />
                    </span>
                    <div class="input-group">
                        <input type="text" id="captcha" name="captcha" class="captcha-form form-control" placeholder="Input capcha" required>
                    </div>
                    <button type="button" id="refreshCaptcha">Refresh Captcha</button>
                </div>
                <label>Code Validate</label><br />
                <input type="text" id="code" name="code" value="" maxlength="120" size="40" required /><br />

                <button class="buttonEmail" type="button" onclick="sendEmail()">Send Email Take Code Before Submit</button><br /> <br />
                <input type="submit" name="submit" value="Submit" />

            </form>

        </main>
    </div>
</html>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - Trade&Deal Hub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</body>
<script>
    function sendEmail() {
        var email = $("#email").val();

        $.ajax({
            type: "POST", // hoặc "GET" tùy thuộc vào loại yêu cầu của bạn
            url: "/Home/SendEmailForgot", // Thay thế bằng đường dẫn của action bạn muốn gọi
            data: { email: email },
            success: function (result) {
                // Xử lý kết quả từ action nếu cần
                console.log(result);
                alert("Email Have Send Check Email To Get Code");
            },
            error: function (error) {
                // Xử lý lỗi nếu có
                console.log(error);
            }
        });
    }
</script>

<script>
    $(document).ready(function () {
        // Gán sự kiện click cho nút refresh captcha
        $("#refreshCaptcha").on("click", function () {
            refreshCaptchaImage();
        });
    });

    function refreshCaptchaImage() {
        alert("Đã gửi Mail");
        $.ajax({
            type: "POST",
            url: "/Home/RefreshCaptchaForgotPassword", // Thay thế bằng đường dẫn của action cập nhật captcha
            success: function (result) {
                // Cập nhật ảnh captcha mới
                $("#captchaImage").attr("src", "data:image/png;base64," + result);
                $('#captcha').val('');
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>
</html>

        @using Business.Models;
@using DataAccess.DAO;
@using WebClient2
@using WebClient2.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{


}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trade&Deal Hub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home/ForgotPassword.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Trade&Deal Hub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <html>
    <div class="container">
        <main role="main" class="pb-3">
            <form method="post" asp-controller="Home" asp-action="ForgotPassword">
                <marquee behavior="scroll" direction="left"><h6 style="color: red;">Thông báo: Đây là trang quên mật khẩu <br> Trong quá trình sử dụng nếu bạn có quên mật khẩu hãy điền theo thứ tự form bên dưới để lấy lại mật khẩu</h6></marquee>
                <h1>Forgot PassWord</h1>
                <label>Your Email Address</label><br />
                <input type="email" id="email" name="email" value="" maxlength="120" size="40" required /><br />
                <label>Your New PassWord</label><br />
                <input type="password" id="password" name="password" placeholder="password" value="" maxlength="120" size="40" required /> <br />
                <label>Confirm New PassWord</label><br />
                <input type="password" id="cfpassword" name="cfpassword" placeholder="confirm password" value="" maxlength="120" size="40" required /><br />
                <div class="captcha-div">
                    <span id="Captcha-image">
                        <img id="captchaImage" src="data:image/png;base64,@ViewBag.CaptchaImageBytes"
                             alt="Captcha Image" />
                    </span>
                    <div class="input-group">
                        <input type="text" id="captcha" name="captcha" class="captcha-form form-control" placeholder="Input capcha" required>
                    </div>
                    <button type="button" id="refreshCaptcha">Refresh Captcha</button>
                </div>
                <label>Code Validate</label><br />
                <input type="text" id="code" name="code" value="" maxlength="120" size="40" required /><br />

                <button class="buttonEmail" type="button" onclick="sendEmail()">Send Email Take Code Before Submit</button><br /> <br />
                <input type="submit" name="submit" value="Submit" />

            </form>

        </main>
    </div>
</html>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - Trade&Deal Hub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</body>
<script>
    function sendEmail() {
        var email = $("#email").val();

        $.ajax({
            type: "POST", // hoặc "GET" tùy thuộc vào loại yêu cầu của bạn
            url: "/Home/SendEmailForgot", // Thay thế bằng đường dẫn của action bạn muốn gọi
            data: { email: email },
            success: function (result) {
                // Xử lý kết quả từ action nếu cần
                console.log(result);
                alert("Email Have Send Check Email To Get Code");
            },
            error: function (error) {
                // Xử lý lỗi nếu có
                console.log(error);
            }
        });
    }
</script>

<script>
    $(document).ready(function () {
        // Gán sự kiện click cho nút refresh captcha
        $("#refreshCaptcha").on("click", function () {
            refreshCaptchaImage();
        });
    });

    function refreshCaptchaImage() {
        alert("Đã gửi Mail");
        $.ajax({
            type: "POST",
            url: "/Home/RefreshCaptchaForgotPassword", // Thay thế bằng đường dẫn của action cập nhật captcha
            success: function (result) {
                // Cập nhật ảnh captcha mới
                $("#captchaImage").attr("src", "data:image/png;base64," + result);
                $('#captcha').val('');
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>
</html>

        @using Business.Models;
@using DataAccess.DAO;
@using WebClient2
@using WebClient2.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{


}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trade&Deal Hub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home/ForgotPassword.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Trade&Deal Hub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <html>
    <div class="container">
        <main role="main" class="pb-3">
            <form method="post" asp-controller="Home" asp-action="ForgotPassword">
                <marquee behavior="scroll" direction="left"><h6 style="color: red;">Thông báo: Đây là trang quên mật khẩu <br> Trong quá trình sử dụng nếu bạn có quên mật khẩu hãy điền theo thứ tự form bên dưới để lấy lại mật khẩu</h6></marquee>
                <h1>Forgot PassWord</h1>
                <label>Your Email Address</label><br />
                <input type="email" id="email" name="email" value="" maxlength="120" size="40" required /><br />
                <label>Your New PassWord</label><br />
                <input type="password" id="password" name="password" placeholder="password" value="" maxlength="120" size="40" required /> <br />
                <label>Confirm New PassWord</label><br />
                <input type="password" id="cfpassword" name="cfpassword" placeholder="confirm password" value="" maxlength="120" size="40" required /><br />
                <div class="captcha-div">
                    <span id="Captcha-image">
                        <img id="captchaImage" src="data:image/png;base64,@ViewBag.CaptchaImageBytes"
                             alt="Captcha Image" />
                    </span>
                    <div class="input-group">
                        <input type="text" id="captcha" name="captcha" class="captcha-form form-control" placeholder="Input capcha" required>
                    </div>
                    <button type="button" id="refreshCaptcha">Refresh Captcha</button>
                </div>
                <label>Code Validate</label><br />
                <input type="text" id="code" name="code" value="" maxlength="120" size="40" required /><br />

                <button class="buttonEmail" type="button" onclick="sendEmail()">Send Email Take Code Before Submit</button><br /> <br />
                <input type="submit" name="submit" value="Submit" />

            </form>

        </main>
    </div>
</html>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - Trade&Deal Hub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</body>
<script>
    function sendEmail() {
        var email = $("#email").val();

        $.ajax({
            type: "POST", // hoặc "GET" tùy thuộc vào loại yêu cầu của bạn
            url: "/Home/SendEmailForgot", // Thay thế bằng đường dẫn của action bạn muốn gọi
            data: { email: email },
            success: function (result) {
                // Xử lý kết quả từ action nếu cần
                console.log(result);
                alert("Email Have Send Check Email To Get Code");
            },
            error: function (error) {
                // Xử lý lỗi nếu có
                console.log(error);
            }
        });
    }
</script>

<script>
    $(document).ready(function () {
        // Gán sự kiện click cho nút refresh captcha
        $("#refreshCaptcha").on("click", function () {
            refreshCaptchaImage();
        });
    });

    function refreshCaptchaImage() {
        alert("Đã gửi Mail");
        $.ajax({
            type: "POST",
            url: "/Home/RefreshCaptchaForgotPassword", // Thay thế bằng đường dẫn của action cập nhật captcha
            success: function (result) {
                // Cập nhật ảnh captcha mới
                $("#captchaImage").attr("src", "data:image/png;base64," + result);
                $('#captcha').val('');
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>
</html>

        @using Business.Models;
@using DataAccess.DAO;
@using WebClient2
@using WebClient2.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{


}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trade&Deal Hub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home/ForgotPassword.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Trade&Deal Hub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <html>
    <div class="container">
        <main role="main" class="pb-3">
            <form method="post" asp-controller="Home" asp-action="ForgotPassword">
                <marquee behavior="scroll" direction="left"><h6 style="color: red;">Thông báo: Đây là trang quên mật khẩu <br> Trong quá trình sử dụng nếu bạn có quên mật khẩu hãy điền theo thứ tự form bên dưới để lấy lại mật khẩu</h6></marquee>
                <h1>Forgot PassWord</h1>
                <label>Your Email Address</label><br />
                <input type="email" id="email" name="email" value="" maxlength="120" size="40" required /><br />
                <label>Your New PassWord</label><br />
                <input type="password" id="password" name="password" placeholder="password" value="" maxlength="120" size="40" required /> <br />
                <label>Confirm New PassWord</label><br />
                <input type="password" id="cfpassword" name="cfpassword" placeholder="confirm password" value="" maxlength="120" size="40" required /><br />
                <div class="captcha-div">
                    <span id="Captcha-image">
                        <img id="captchaImage" src="data:image/png;base64,@ViewBag.CaptchaImageBytes"
                             alt="Captcha Image" />
                    </span>
                    <div class="input-group">
                        <input type="text" id="captcha" name="captcha" class="captcha-form form-control" placeholder="Input capcha" required>
                    </div>
                    <button type="button" id="refreshCaptcha">Refresh Captcha</button>
                </div>
                <label>Code Validate</label><br />
                <input type="text" id="code" name="code" value="" maxlength="120" size="40" required /><br />

                <button class="buttonEmail" type="button" onclick="sendEmail()">Send Email Take Code Before Submit</button><br /> <br />
                <input type="submit" name="submit" value="Submit" />

            </form>

        </main>
    </div>
</html>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - Trade&Deal Hub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</body>
<script>
    function sendEmail() {
        var email = $("#email").val();

        $.ajax({
            type: "POST", // hoặc "GET" tùy thuộc vào loại yêu cầu của bạn
            url: "/Home/SendEmailForgot", // Thay thế bằng đường dẫn của action bạn muốn gọi
            data: { email: email },
            success: function (result) {
                // Xử lý kết quả từ action nếu cần
                console.log(result);
                alert("Email Have Send Check Email To Get Code");
            },
            error: function (error) {
                // Xử lý lỗi nếu có
                console.log(error);
            }
        });
    }
</script>

<script>
    $(document).ready(function () {
        // Gán sự kiện click cho nút refresh captcha
        $("#refreshCaptcha").on("click", function () {
            refreshCaptchaImage();
        });
    });

    function refreshCaptchaImage() {
        alert("Đã gửi Mail");
        $.ajax({
            type: "POST",
            url: "/Home/RefreshCaptchaForgotPassword", // Thay thế bằng đường dẫn của action cập nhật captcha
            success: function (result) {
                // Cập nhật ảnh captcha mới
                $("#captchaImage").attr("src", "data:image/png;base64," + result);
                $('#captcha').val('');
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>
</html>

        @using Business.Models;
@using DataAccess.DAO;
@using WebClient2
@using WebClient2.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{


}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trade&Deal Hub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home/ForgotPassword.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Trade&Deal Hub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <html>
    <div class="container">
        <main role="main" class="pb-3">
            <form method="post" asp-controller="Home" asp-action="ForgotPassword">
                <marquee behavior="scroll" direction="left"><h6 style="color: red;">Thông báo: Đây là trang quên mật khẩu <br> Trong quá trình sử dụng nếu bạn có quên mật khẩu hãy điền theo thứ tự form bên dưới để lấy lại mật khẩu</h6></marquee>
                <h1>Forgot PassWord</h1>
                <label>Your Email Address</label><br />
                <input type="email" id="email" name="email" value="" maxlength="120" size="40" required /><br />
                <label>Your New PassWord</label><br />
                <input type="password" id="password" name="password" placeholder="password" value="" maxlength="120" size="40" required /> <br />
                <label>Confirm New PassWord</label><br />
                <input type="password" id="cfpassword" name="cfpassword" placeholder="confirm password" value="" maxlength="120" size="40" required /><br />
                <div class="captcha-div">
                    <span id="Captcha-image">
                        <img id="captchaImage" src="data:image/png;base64,@ViewBag.CaptchaImageBytes"
                             alt="Captcha Image" />
                    </span>
                    <div class="input-group">
                        <input type="text" id="captcha" name="captcha" class="captcha-form form-control" placeholder="Input capcha" required>
                    </div>
                    <button type="button" id="refreshCaptcha">Refresh Captcha</button>
                </div>
                <label>Code Validate</label><br />
                <input type="text" id="code" name="code" value="" maxlength="120" size="40" required /><br />

                <button class="buttonEmail" type="button" onclick="sendEmail()">Send Email Take Code Before Submit</button><br /> <br />
                <input type="submit" name="submit" value="Submit" />

            </form>

        </main>
    </div>
</html>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - Trade&Deal Hub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</body>
<script>
    function sendEmail() {
        var email = $("#email").val();

        $.ajax({
            type: "POST", // hoặc "GET" tùy thuộc vào loại yêu cầu của bạn
            url: "/Home/SendEmailForgot", // Thay thế bằng đường dẫn của action bạn muốn gọi
            data: { email: email },
            success: function (result) {
                // Xử lý kết quả từ action nếu cần
                console.log(result);
                alert("Email Have Send Check Email To Get Code");
            },
            error: function (error) {
                // Xử lý lỗi nếu có
                console.log(error);
            }
        });
    }
</script>

<script>
    $(document).ready(function () {
        // Gán sự kiện click cho nút refresh captcha
        $("#refreshCaptcha").on("click", function () {
            refreshCaptchaImage();
        });
    });

    function refreshCaptchaImage() {
        alert("Đã gửi Mail");
        $.ajax({
            type: "POST",
            url: "/Home/RefreshCaptchaForgotPassword", // Thay thế bằng đường dẫn của action cập nhật captcha
            success: function (result) {
                // Cập nhật ảnh captcha mới
                $("#captchaImage").attr("src", "data:image/png;base64," + result);
                $('#captcha').val('');
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>
</html>

        @using Business.Models;
@using DataAccess.DAO;
@using WebClient2
@using WebClient2.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{


}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trade&Deal Hub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home/ForgotPassword.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Trade&Deal Hub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <html>
    <div class="container">
        <main role="main" class="pb-3">
            <form method="post" asp-controller="Home" asp-action="ForgotPassword">
                <marquee behavior="scroll" direction="left"><h6 style="color: red;">Thông báo: Đây là trang quên mật khẩu <br> Trong quá trình sử dụng nếu bạn có quên mật khẩu hãy điền theo thứ tự form bên dưới để lấy lại mật khẩu</h6></marquee>
                <h1>Forgot PassWord</h1>
                <label>Your Email Address</label><br />
                <input type="email" id="email" name="email" value="" maxlength="120" size="40" required /><br />
                <label>Your New PassWord</label><br />
                <input type="password" id="password" name="password" placeholder="password" value="" maxlength="120" size="40" required /> <br />
                <label>Confirm New PassWord</label><br />
                <input type="password" id="cfpassword" name="cfpassword" placeholder="confirm password" value="" maxlength="120" size="40" required /><br />
                <div class="captcha-div">
                    <span id="Captcha-image">
                        <img id="captchaImage" src="data:image/png;base64,@ViewBag.CaptchaImageBytes"
                             alt="Captcha Image" />
                    </span>
                    <div class="input-group">
                        <input type="text" id="captcha" name="captcha" class="captcha-form form-control" placeholder="Input capcha" required>
                    </div>
                    <button type="button" id="refreshCaptcha">Refresh Captcha</button>
                </div>
                <label>Code Validate</label><br />
                <input type="text" id="code" name="code" value="" maxlength="120" size="40" required /><br />

                <button class="buttonEmail" type="button" onclick="sendEmail()">Send Email Take Code Before Submit</button><br /> <br />
                <input type="submit" name="submit" value="Submit" />

            </form>

        </main>
    </div>
</html>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - Trade&Deal Hub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</body>
<script>
    function sendEmail() {
        var email = $("#email").val();

        $.ajax({
            type: "POST", // hoặc "GET" tùy thuộc vào loại yêu cầu của bạn
            url: "/Home/SendEmailForgot", // Thay thế bằng đường dẫn của action bạn muốn gọi
            data: { email: email },
            success: function (result) {
                // Xử lý kết quả từ action nếu cần
                console.log(result);
                alert("Email Have Send Check Email To Get Code");
            },
            error: function (error) {
                // Xử lý lỗi nếu có
                console.log(error);
            }
        });
    }
</script>

<script>
    $(document).ready(function () {
        // Gán sự kiện click cho nút refresh captcha
        $("#refreshCaptcha").on("click", function () {
            refreshCaptchaImage();
        });
    });

    function refreshCaptchaImage() {
        alert("Đã gửi Mail");
        $.ajax({
            type: "POST",
            url: "/Home/RefreshCaptchaForgotPassword", // Thay thế bằng đường dẫn của action cập nhật captcha
            success: function (result) {
                // Cập nhật ảnh captcha mới
                $("#captchaImage").attr("src", "data:image/png;base64," + result);
                $('#captcha').val('');
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>
<script>
    $(document).ready(function () {
        // Gán sự kiện click cho nút refresh captcha
        $("#refreshCaptcha").on("click", function () {
            refreshCaptchaImage();
        });
    });

    function refreshCaptchaImage() {
        alert("Đã gửi Mail");
        $.ajax({
            type: "POST",
            url: "/Home/RefreshCaptchaForgotPassword", // Thay thế bằng đường dẫn của action cập nhật captcha
            success: function (result) {
                // Cập nhật ảnh captcha mới
                $("#captchaImage").attr("src", "data:image/png;base64," + result);
                $('#captcha').val('');
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>
<script>
    $(document).ready(function () {
        // Gán sự kiện click cho nút refresh captcha
        $("#refreshCaptcha").on("click", function () {
            refreshCaptchaImage();
        });
    });

    function refreshCaptchaImage() {
        alert("Đã gửi Mail");
        $.ajax({
            type: "POST",
            url: "/Home/RefreshCaptchaForgotPassword", // Thay thế bằng đường dẫn của action cập nhật captcha
            success: function (result) {
                // Cập nhật ảnh captcha mới
                $("#captchaImage").attr("src", "data:image/png;base64," + result);
                $('#captcha').val('');
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>
</html>
