@using BussinessObject.Models;
@using DataAccess.DAO;
@using WebClient
@using WebClient.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebClient.ViewModel.RegisterViewModel

@{


}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Trade&DealHub Registration </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home/Index.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Trade&DealHub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Register">Register</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">

            <div class="text-center">
                <form method="post" asp-controller="Home" asp-action="Register">
                    <div class="row">
                        <div class="col-md-6">
                            @Html.LabelFor(temp => temp.Name)
                            @Html.TextBoxFor(temp => temp.Name, new { placeholder = "Name", @class = "form-control" })
                            @Html.ValidationMessageFor(temp => temp.Name)
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(temp => temp.Username)
                            @Html.TextBoxFor(temp => temp.Username, new { placeholder = "Username", @class = "form-control" })
                            @Html.ValidationMessageFor(temp => temp.Username)
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(temp => temp.Email)
                            @Html.TextBoxFor(temp => temp.Email, new { id = "email", placeholder = "Email", @class = "form-control" })
                            @Html.ValidationMessageFor(temp => temp.Email)
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(temp => temp.CodeValidate)
                            @Html.TextBoxFor(temp => temp.CodeValidate, new { placeholder = "Code Validate", @class = "form-control" })
                            @Html.ValidationMessageFor(temp => temp.CodeValidate)
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(temp => temp.Phone)
                            @Html.TextBoxFor(temp => temp.Phone, new { placeholder = "Phone", @class = "form-control" })
                            @Html.ValidationMessageFor(temp => temp.Phone)
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(temp => temp.Password)
                            @Html.PasswordFor(temp => temp.Password, new { placeholder = "Password", @class = "form-control" })
                            @Html.ValidationMessageFor(temp => temp.Password)
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(temp => temp.ConnfirmPassword)
                            @Html.PasswordFor(temp => temp.ConnfirmPassword, new { placeholder = "Confirm Password", @class = "form-control" })
                            @Html.ValidationMessageFor(temp => temp.ConnfirmPassword)
                        </div>

                    </div>
                    <button type="submit" class="btn btn-success">Register</button>
                </form>

                <button type="button" onclick="sendEmail()">Send Email</button> <!-- Thêm nút gửi email -->
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - WebClient - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

<script>
    function sendEmail() {
        var email = $("#email").val();

        $.ajax({
            type: "POST", // hoặc "GET" tùy thuộc vào loại yêu cầu của bạn
            url: "/Home/SendEmail", // Thay thế bằng đường dẫn của action bạn muốn gọi
            data: { email: email },
            success: function (result) {
                // Xử lý kết quả từ action nếu cần
                console.log(result);
                alert("Email Have Send Check Email To Get Code");
            },
            error: function (error) {
                // Xử lý lỗi nếu có
                console.log(error);
            }
        });
    }
</script>

</html>
