@using DataAccess.DAO;
@model IEnumerable<Business.Models.IntermediateOrder>

<table class="table table-hover">
    <thead>
        <tr>
            <th><input class="form-control" value="" placeholder="Search Id" /></th>
            <th><input class="form-control" value="" placeholder="Chủ đề trung gian" /></th>
            <th><input class="form-control" value="" placeholder="Giá tiền" /></th>
            <th><input class="form-control" value="" placeholder="Người bán" /></th>
            <th><input class="form-control" value="" placeholder="Thời gian tạo" /></th>
            <th><input class="form-control" value="" placeholder="Thời gian cập nhật" /></th>

        </tr>
        <tr>
            <th>Mã trung gian</th>
            <th>Chủ đề trung gian</th>
            <th>Giá tiền</th>
            <th>Trạng thái</th>
            <th>Người bán</th>
            <th>Thời gian tạo</th>
            <th>Cập nhật</th>
            <th>Hành động</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.price</td>
                <td>@item.status</td>
                <td>@AccountDAO.GetAccountWithId(item.create_by).name</td>
                <td>@item.create_at.ToString("dd/MM/yyyy")</td>
                <td>@item.update_at.ToString("dd/MM/yyyy")</td>
                <td><a class="btn btn-primary open-modal" asp-action="DetailOrder" asp-route-id="@item.id">Chi tiết</a></td>
            </tr>
        }
    </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="DetailOrderModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://kit.fontawesome.com/6ae4d71e22.js" crossorigin="anonymous"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}