@model IEnumerable<Business.Models.Withdrawal>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Wallet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bank_number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bank_user)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bank_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.state)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.create_by)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.create_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.update_by)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.update_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.is_delete)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Wallet.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bank_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bank_user)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bank_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.create_by)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.create_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.update_by)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.update_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.is_delete)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
