@using Business.Models;
@using DataAccess.Library;
@model DataAccess.ViewModel.OrderViewModel;
@using DataAccess.DAO;
@{
    var account_id = ViewContext.HttpContext.Session.GetInt32("Account");
    IntermediateOrder order = IntermediateOrderDAO.GetIntermediateOrderById(Model.id);


    var localhostAddress = $"{ViewContext.HttpContext.Request.Scheme}:/{ViewContext.HttpContext.Request.Host}" + "/IntermediateOrders/OrderDetail/" + $"{Model.id}";

}
<div class="row">
    <div class="col-md-12">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Thông tin đơn trung gian</h1>
                @if (order != null && order.buy_user == account_id && order.create_by != account_id)
                {
                    if (order.buy_user == account_id)
                    {
                        switch (order.status)
                        {
                            case IntermediateOrderEnum.BEN_MUA_KIEM_TRA_HANG:
                                <a class="btn btn-success" asp-action="KhieuNaiInterOrder" asp-route-id="@Model.id">Đơn hàng không đúng</a>
                                <a class="btn btn-success" asp-action="ConfirmInterOrderComplete" asp-route-id="@Model.id">Đơn hàng đúng</a>
                                break;
                            case IntermediateOrderEnum.BEN_MUA_KHIEU_NAI:
                                <a class="btn btn-success" asp-action="KhieuNaiAdminInterOrder" asp-route-id="@Model.id">Yêu cầu quản trị</a>
                                break;
                        }
                    }
                    if (order.create_by == account_id)
                    {
@*                        switch (order.status)
                        {
                            case IntermediateOrderEnum.BEN_MUA_KHIEU_NAI:
                                <a class="btn btn-success" asp-action="HEHE" asp-route-id="@Model.id">Đơn hàng không đúng</a>
                                break;
                        }*@
                    }
                }
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" asp-controller="IntermediateOrders" asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label">Mã Trung Gian</label>
                        <input asp-for="id" class="form-control" disabled />
                        <span asp-validation-for="id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Người bán</label>
                        <input value="@(Model.account_create.id+" | " + Model.account_create.name)" class="form-control" disabled />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Trạng thái</label>
                        <input asp-for="status" class="form-control" disabled />
                        <span asp-validation-for="status" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Chủ đề trung gian (*)</label>
                        <input asp-for="name" class="form-control" disabled />
                        <span asp-validation-for="name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Giá tiền (*)</label>
                        <input type="number" asp-for="price" class="form-control" disabled />
                        <span asp-validation-for="price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Bên chịu phí (*)</label>
                        <div>
                            <input type="radio" class="btn-check" asp-for="fee_type" name="fee_type" id="fee_type_1" autocomplete="off" value="true" disabled>
                            <label class="btn btn-outline-success" for="fee_type_1"> Bên bán chịu phí </label>

                            <input type="radio" class="btn-check" asp-for="fee_type" name="fee_type" id="fee_type_2" autocomplete="off" value="false" disabled>
                            <label class="btn btn-outline-danger" for="fee_type_2"> Bên bán mua phí </label>
                        </div>
                        <span asp-validation-for="fee_type" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Phí trung gian</label>
                        <input type="number" asp-for="fee_amount" class="form-control" disabled />
                        <span asp-validation-for="fee_amount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tổng tiền bên mua cần thanh toán</label>
                        <input type="number" asp-for="pay_amount" class="form-control" disabled />
                        <span asp-validation-for="pay_amount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tiền bên bán thực nhận </label>
                        <input type="number" asp-for="earn_amount" class="form-control" disabled />
                        <span asp-validation-for="earn_amount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Mô tả</label>
                        <input asp-for="description" class="form-control" disabled />
                        <span asp-validation-for="description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Phương thức liên lạc</label>
                        <input asp-for="contact" class="form-control" disabled />
                        <span asp-validation-for="contact" class="text-danger"></span>
                    </div>
                    @{
                        if (Model.account_buy != null && ViewContext.HttpContext.Session.GetInt32("Account") != null && ViewContext.HttpContext.Session.GetInt32("Account") == Model.account_buy.id)
                        {
                            <div class="form-group">
                                <label class="control-label">Nội dung ẩn</label>
                                <textarea class="form-control" asp-for="hidden_content" rows="3"></textarea>
                            </div>
                        }
                    }
                    <div class="form-group">
                        <label class="control-label">Công khai (*)</label>
                        <div>
                            <input type="radio" class="btn-check" asp-for="is_public" name="is_public" id="success-outlined" autocomplete="off" value="true" disabled>
                            <label class="btn btn-outline-success" for="success-outlined">Hiện công khai</label>

                            <input type="radio" class="btn-check" asp-for="is_public" name="is_public" id="danger-outlined" autocomplete="off" value="false" disabled>
                            <label class="btn btn-outline-danger" for="danger-outlined"> Ẩn giới hạn</label>
                        </div>
                        <span asp-validation-for="is_public" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Thời gian tạo</label>
                        <input type="datetime" asp-for="create_at" class="form-control" disabled />
                        <span asp-validation-for="create_at" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Cập nhật cuối</label>
                        <input type="datetime" asp-for="update_at" class="form-control" disabled />
                        <span asp-validation-for="update_at" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Link</label>
                        <input class="form-control" value="@localhostAddress" readonly/>
                    </div>
                    <div class="row form-group">
                        @if (Model.status == IntermediateOrderEnum.SAN_SANG_GIAO_DICH && Model.account_buy == null)
                        {
                            <div class="col">
                                <a class="btn btn-success buyButton" data-url="@Url.Action("Buy", "IntermediateOrders", new { id = Model.id })">Mua đơn hàng</a>

                            </div>
                        }
                        @if (order != null && order.buy_user != null && order.create_by == account_id &&
                        (order.status == IntermediateOrderEnum.BEN_MUA_KHIEU_NAI
                        || order.status == IntermediateOrderEnum.YEU_CAU_QUAN_TRI
                        || order.status == IntermediateOrderEnum.BEN_BAN_DANH_DAU_KHIEU_NAI))
                        {
                            <div class="col">
                                <a class="btn btn-success" asp-action="DeleteInterOrder" asp-route-id="@Model.id">Hủy đơn hàng</a>
                            </div>
                        }
                        @if (order != null && order.buy_user == null && order.create_by == account_id)
                        {
                            <div class="col">
                                <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.id">Chỉnh sửa</a>
                            </div>
                        }
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-mess modal-body">
                <!-- Nội dung thông báo sẽ được cập nhật ở đây -->
                <div class="alert alert-success" role="alert" id="modalMessage"></div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://kit.fontawesome.com/6ae4d71e22.js" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('.buyButton').click(function (e) {
            e.preventDefault(); // Chặn sự kiện mặc định của thẻ <a>

            console.log("HELLO");

            // Kiểm tra session bằng AJAX
            $.ajax({
                type: 'GET',
                url: '/IntermediateOrders/CheckSession', // Thay đổi đường dẫn tùy thuộc vào route của bạn
                success: function (response) {
                    if (response.loggedIn) {
                        var url = $('.buyButton').data('url');

                        // Tiến hành mua hàng nếu đã đăng nhập
                        $.post(url, function (data) {
                            if (data.success) {
                                // Hiển thị thông báo mua hàng thành công
                                $('#modalMessage').html(data.message);
                                $('#myModal').modal('show');

                                // Refresh trang sau 2 giây
                                setTimeout(function () {
                                    location.reload();
                                }, 2000);
                            } else {
                                // Hiển thị thông báo lỗi
                                $('#modalMessage').html(data.message);
                                $('#myModal').modal('show');

                                setTimeout(function () {
                                    location.reload();
                                }, 2000);
                            }
                        }).fail(function (xhr, status, error) {
                            // Xử lý lỗi nếu có
                            console.error(xhr.responseText);
                        });
                    } else {
                        // Chuyển hướng đến trang đăng nhập nếu session là null
                        window.location.href = '/Home/Login'; // Thay đổi đường dẫn tùy thuộc vào route của bạn
                    }
                },
                error: function (xhr, status, error) {
                    // Xử lý lỗi nếu có
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

