@using DataAccess.DAO;
@model IEnumerable<Business.Models.IntermediateOrder>
<h1>
    Đơn mua của tôi
</h1>
<table class="table table-hover">

    <thead>
        <tr>
            <th>Mã trung gian</th>
            <th>Chủ đề trung gian</th>
            <th>Giá tiền</th>
            <th>Bên chịu phí trung gian</th>
            <th>Tổng phí cần mua</th>
            <th>Người bán</th>
            <th>Thời gian tạo</th>
            <th>Cập nhật cuối</th>
            <th>Hành động</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.price</td>
                @if (item.fee_type)
                {
                    <td>Bên bán</td>
                }
                else
                {
                    <td>Bên mua</td>
                }
                <td>@item.payment_amount</td>
                <td>@AccountDAO.GetAccountWithId(item.create_by).name</td>
                <td>@item.create_at.ToString("dd/MM/yyyy")</td>
                <td>@item.update_at.ToString("dd/MM/yyyy")</td>
                <td><a class="btn btn-primary open-modal" data-id="@item.id">Chi tiết</a></td>
            </tr>
        }
    </tbody>
</table>
<div class="modal fade" id="DetailOrderModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://kit.fontawesome.com/6ae4d71e22.js" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $(".open-modal").click(function () {
            var id = $(this).data('id');

            // Gửi yêu cầu AJAX để lấy thông tin của IntermediateOrder
            $.ajax({
                type: 'GET',
                url: '/IntermediateOrders/MarketDetail',
                data: { id: id },
                success: function (data) {
                    $(".modal-dialog").html(
                        data
                    );

                    // Mở modal
                    $("#DetailOrderModal").modal('show');
                },
                error: function (xhr, status, error) {
                    // Xử lý lỗi nếu có
                    console.error(xhr.responseText);
                }
            });
        });
    });

</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}