@using Business.Models;
@using DataAccess.DAO;
@using WebClient2
@using WebClient2.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    List<Account> accounts = ViewBag.Accounts;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home/Index.css" asp-append-version="true" />
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
            position: relative;
        }

        input {
            width: 100%;
            box-sizing: border-box;
        }

        .search-icon1 {
            position: absolute;
            right: 8px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            table

        {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
            position: relative;
        }

        input {
            width: 100%;
            box-sizing: border-box;
        }

        .search-icon {
            position: absolute;
            right: 8px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
            position: relative;
        }

        input {
            width: 100%;
            box-sizing: border-box;
        }

        .search-icon {
            position: absolute;
            right: 8px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            table

        {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
            position: relative;
        }

        input {
            width: 100%;
            box-sizing: border-box;
        }

        .search-icon {
            position: absolute;
            right: 8px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            table

        {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
            position: relative;
        }

        input {
            width: 100%;
            box-sizing: border-box;
        }

        .search-icon {
            position: absolute;
            right: 8px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            table

        {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
            position: relative;
        }

        input {
            width: 100%;
            box-sizing: border-box;
        }

        .search-icon {
            position: absolute;
            right: 8px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Admin" asp-action="Index">Trade&Deal Hub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LogOut">LogOut</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="ProfileAdmin">ProfileAdmin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ManageUserAccount" asp-action="ViewUserAccount">Manager</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="text-center" id="accountTable">
                <label for="searchUsername">Search by Username:</label>
                <input type="text" id="searchUsername" />
                <button type="button" onclick="searchByUsername()">Search</button>
                <table id="accountTableBody">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Email</th>

                        <th>Description</th>

                        <th>View Account</th>
                    </tr>
                    @{
                        foreach (Account a in accounts)
                        {
                            <tr id="row_@a.id">
                                <td>@a.id</td>
                                <td id="name" data-name="@a.name">@a.name</td>
                                <td>@a.username</td>
                                <td>@a.email</td>

                                <td>@a.description</td>

                                <td><a asp-controller="ManageUser" asp-action="UserDetail" asp-route-userId="@a.id">Detail</a></td>
                            </tr>
                        }
                    }

                </table>
            </div>

        </main>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Trade&Deal Hub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

<script>
    function searchByUsername() {
        var username = $("#searchUsername").val();

        $.ajax({
            type: "GET",
            url: "/ManageUser/SearchByUsername",
            data: { username: username },
            success: function (result) {
                updateTable(result);
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function updateTable(result) {
        var tableBody = $("#accountTableBody");
        tableBody.empty(); // Xóa tất cả các dòng hiện tại trong bảng
        console.log(result);
        for (var i = 0; i < result.length; i++) {
            var account = result[i];

            var row = "<tr id='row_" + account.id + "'>" +
                "<td>" + account.id + "</td>" +
                "<td id='name' data-name='" + account.name + "'>" + account.name + "</td>" +
                "<td>" + account.username + "</td>" +
                "<td>" + account.email + "</td>" +
                "<td>" + account.password + "</td>" +
                "<td>" + account.description + "</td>" +
                "<td>" + account.create_at + "</td>" +
                "<td>" + account.update_at + "</td>" +
                "<td>" + account.role_id + "</td>" +
                "<td>" + account.is_delete + "</td>" +
                "<td><a asp-controller='ManageUser' asp-action='UserDetail' asp-route-userId='" + account.id + "'>Detail</a></td>" +
                "</tr>";

            tableBody.append(row); // Thêm các dòng mới từ kết quả tìm kiếm
        }
    }
</script>

</html>
