@using BussinessObject.Models;
@using DataAccess.DAO;
@using WebClient
@using WebClient.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Product product = ViewBag.Product;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Acount Profile</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Account/Profile.css" asp-append-version="true" />

    <style>
        body {
            margin: 0;
        }

        .ul-side-bar {
            list-style-type: none;
            margin: 0;
            padding: 0;
            max-width: 100%;
            background-color: #f1f1f1;
            max-height 100%;
            overflow: auto;
        }

            .ul-side-bar li {
                margin: 0;
            }

                .ul-side-bar li a {
                    display: block;
                    color: #000;
                    padding: 8px 16px;
                    text-decoration: none;
                }

                    .ul-side-bar li a.active {
                        background-color: #04AA6D;
                        color: white;
                    }

                    .ul-side-bar li a:hover:not(.active) {
                        background-color: #555;
                        color: white;
                    }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Trade&Deal Hub </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="main">

            <div class="text-center">


                <!-- Phần chứa biểu mẫu UpdateProfile và ChangePassword -->
                <div class="forms-container">
                    <!-- Biểu mẫu UpdateProfile -->
                    <div class="update-profile-form">
                        <h3>Update Profile</h3>
                        <form method="post" asp-controller="Product" asp-action="UpdateProduct">
                            <table class="table">
                                <tr>
                                    <td>ID</td>
                                    <td><input id="id" name="id" class="form-control" value="@product.id"></td>
                                </tr>
                                <tr>
                                    <td>Code</td>
                                    <td><input id="code" name="code" class="form-control" value="@product.code"></td>
                                </tr>
                                <tr>
                                    <td>Price</td>
                                    <td><input type="number" id="price" name="price" class="form-control" value="@product.price"</td>
                                </tr>
                                <tr>
                                    <td>Quantity</td>
                                    <td><input type="number" id="quantity" name="quantity" class="form-control" value="@product.quantity"></td>
                                </tr>
                                <tr>
                                    <td>Category</td>
                                    <td><input type="text" id="categories" name="categories" class="form-control" value="@product.categories"></td>
                                </tr>
                                <tr>
                                    <td>Description</td>
                                    <td><input type="text" id="desctiption" name="desctiption" class="form-control" value="@product.desctiption"></td>
                                </tr>
                                <tr>
                                    <td>Create day</td>
                                    <td><input type="text" id="create_at" name="create_at" class="form-control" value="@product.create_at" disabled></td>
                                </tr>
                                <tr>
                                    <td>Update day</td>
                                    <td><input type="text" id="update_at" name="update_at" class="form-control" value="@product.update_at" disabled></td>
                                </tr>
                                <tr>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </tr>
                            </table>
                        </form>
                    </div>


                </div>
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Trade&Deal Hub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>


</html>




