@using BussinessObject.Models;
@using DataAccess.DAO;
@using WebClient
@using WebClient.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Product product = ViewBag.Product;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Update Product</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Account/Profile.css" asp-append-version="true" />

    <style>
        .update-profile-form {
            width: 50%; /* Độ rộng của form */
            margin: 0 auto; /* Canh giữa form */
            padding: 20px; /* Khoảng cách giữa nội dung và viền form */
            background-color: #fff; /* Màu nền */
            border: 1px solid #ddd; /* Viền */
            border-radius: 5px; /* Độ cong viền */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Đổ bóng */
        }

        .form-table {
            width: 100%; /* Độ rộng của bảng */
            border-collapse: collapse; /* Gộp viền của ô */
        }

            .form-table th,
            .form-table td {
                padding: 8px; /* Khoảng cách giữa nội dung và viền */
                border: 1px solid #ddd; /* Viền */
            }

            .form-table th {
                background-color: #f2f2f2; /* Màu nền của tiêu đề cột */
                text-align: left; /* Căn lề văn bản */
            }

            .form-table input[type="text"],
            .form-table input[type="number"] {
                width: 100%; /* Độ rộng của input */
                padding: 6px; /* Khoảng cách giữa nội dung và viền */
                border: 1px solid #ddd; /* Viền */
                border-radius: 3px; /* Độ cong viền */
                box-sizing: border-box; /* Đảm bảo kích thước input không bị thay đổi */
            }

            .form-table button {
                padding: 8px 16px; /* Khoảng cách giữa nội dung và viền */
                border: none; /* Loại bỏ viền */
                background-color: #007bff; /* Màu nền */
                color: #fff; /* Màu chữ */
                border-radius: 3px; /* Độ cong viền */
                cursor: pointer; /* Con trỏ chuột khi rê chuột qua */
            }

                .form-table button:hover {
                    background-color: #0056b3; /* Màu nền khi rê chuột qua */
                }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Trade&Deal Hub </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LogOut">LogOut</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="main">

            <div class="text-center">

                <marquee behavior="sroll" direction="left">
                    <h6 style="color: red;">Thông báo: Nạp tiền hình thức chuyển khoản VNPay trong khoảng 12h đêm đến 1 giờ sáng có thể sẽ nhận lâu hơn bình thường<br />Nếu chưa thấy tiền thì có thể liên hệ vào email trade.dealhub@gmail.com</h6>
                </marquee>
                <!-- Phần chứa biểu mẫu UpdateProfile và ChangePassword -->
                <div class="forms-container">
                    <!-- Biểu mẫu UpdateProfile -->
                    <div class="update-profile-form">
                        <h1>Update Product</h1>
                        <form method="post" asp-controller="Product" asp-action="UpdateProduct">
                            <table class="table form-table">
                                <tr>
                                    <td><b>ID</b></td>
                                    <td><input id="id" name="id" class="form-control" value="@product.id" readonly></td>
                                </tr>
                                <tr>
                                    <td><b>Code</b></td>
                                    <td><input id="code" name="code" class="form-control" value="@product.code" readonly></td>
                                </tr>
                                <tr>
                                    <td><b>Price</b></td>
                                    <td><input type="number" id="price" name="price" class="form-control" value="@product.price"></td>
                                </tr>
                                <tr>
                                    <td><b>Quantity</b></td>
                                    <td><input type="number" id="quantity" name="quantity" class="form-control" value="@product.quantity"></td>
                                </tr>
                                <tr>
                                    <td><b>Category</b></td>
                                    <td><input type="text" id="categories" name="categories" class="form-control" value="@product.categories" readonly></td>
                                </tr>
                                <tr>
                                    <td><b>Description</b></td>
                                    
                                    <td><textarea id="desctiption" name="desctiption" class="form-control" value="@product.desctiption"></textarea></td>
                                </tr>
                                <tr>
                                    <td><b>Create day</b></td>
                                    <td><input type="text" id="create_at" name="create_at" class="form-control" value="@product.create_at" disabled readonly></td>
                                </tr>
                                <tr>
                                    <td><b>Update day</b></td>
                                    <td><input type="text" id="update_at" name="update_at" class="form-control" value="@product.update_at" disabled readonly></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><button type="submit" class="btn btn-primary">Submit</button></td>
                                </tr>
                            </table>
                        </form>
                    </div>



                </div>
            </div>
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Trade&Deal Hub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>